@media print {
    :root {
    --brand-color-1:rgb(204, 209, 225);
    --brand-color-2: #1C1B1F;
}
    body {margin: 16px;}
    .intro-text{width: 50%; margin-left: 50%;}
    article{width: 50%; margin-left: 50%;}
    blockquote{margin-top: 40px; margin-bottom: 40px;}
    section {margin-left: 16px;}
    nav, footer {display: none;}
    .footer-line { font-size: 10px; position: fixed; top: 95%; justify-content: center;}
    .quote-position {gap: 2mm; margin-left: 8%}
    .article-info{line-height: 20px;}
    :root {
		--h2: 18px;
        --h2-line-height:24px;
	}
    :root {
		--h3: 64px;
        --h3-line-height: 68px;
	}
    :root {
		--h4: 12px;
        --h4-line-height: 16px;
	}
    :root {
		--blockquote: 12px;
        --blockquote-line-height: 16px;
	}
    :root {
        --p: 12px;
        --p-line-height:16px;
    }
}