@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;1,400;1,600&family=IBM+Plex+Sans&display=swap');

/* colour variables */
:root {
    --brand-color-1:#8F00FF;
    --brand-color-2: #1C1B1F;
}

/* body styling */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: IBM Plex Sans;
    color: var(--brand-color-2);
    display: flex; 
    flex-wrap: wrap;
    /* margin: 16px */
    flex-direction: column
}

section{
    margin-bottom: 180px;
}

header{ 
    margin-bottom:100px;
  
}

/* nav styling */
nav{
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-size: var(--nav);
    line-height: var(--nav-line-height);
    color: var(--brand-color-1);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

li{
    float: left;
    padding-left: 8px;
} 

footer{
    font-family: IBM Plex Mono;
    font-size: var(--footer);
    line-height: var(--footer-line-height);
    font-weight: 400;
    color: var(--brand-color-1);
    display:flex;
    top: 92%;
}


a{
    text-decoration: none;
} 
a:visited{
    color:  var(--brand-color-1);
}

.title-position{
    margin-top: 212px;
    margin-bottom:188px;
}

.intro-text{
    margin-bottom: 104px;
    width: 100vw;
}

article{
    margin-bottom: 180px;
    width: 100vw;
}

.expression-allign{
    text-align: right;
}

.credit-line{
    color: var(--brand-color-2);
    font-family: IBM Plex Mono;
    font-size: 16px;
} 

/* text variables for all content */
:root {
    --h1: 52px;
    --h1-line-height:60px;
}
:root {
    --h2: 40px;
    --h2-line-height:48px;

}
:root {
    --h3: 34px;
    --h3-line-height:38px;
}
:root {
    --h4: 24px;
    --h4-line-height:28px;
}
:root {
    --blockquote: 18px;
    --blockquote-line-height:24px;
}
:root {
    --p: 18px;
    --p-line-height:24px;
}
:root {
    --nav: 20px;
    --nav-line-height:20px;
}
:root {
    --footer: 16px;
    --footer:20px;
}

/* desktop media query */
@media (min-width: 560px) {
    section{margin-bottom: 196px;}
    header{ margin-bottom:48px;}
    /*li {padding-left: 12px;}*/
    a:hover {font-weight: 600;} 
    .intro-text{margin-bottom: 180px;}
    article{margin-bottom: 196px; width: 45vw;}
    .expression-allign{text-align: left;}
    li{padding-left: 12px;} 

    
    :root {
		--h1: 180px;
        --h1-line-height: 180px;
	}
    :root {
		--h2: 64px;
        --h2-line-height: 70px;
    
	}
    :root {
		--h3: 48px;
        --h3-line-height: 56px;
	}
    :root {
		--h4: 32px;
        --h4-line-height: 40px;
	}
    :root {
		--blockquote: 21px;
        --blockquote-line-height: 27px;
	}
    :root {
        --p: 21px;
        --p-line-height:27px;
    }
    :root {
        --nav: 20px;
        --nav-line-height:24px;
    }
    .title-position{
        margin-top: 105px;
        margin-bottom: 80px;
    }
    :root {
        --footer: 20px;
        --footer:24px;
    }
}

/* tablet text media query */
@media (min-width: 720px) {
    :root {
		--blockquote: 20px;
        --blockquote-line-height: 26px;
	}
    :root {
        --p: 20px;
        --p-line-height:26px;
    }
}

@media (min-width: 560px) and (max-width: 767px){
    article {width: 80vw;}
}

/* text styles */
/* h1{
    font-family: IBM Plex Mono;
    font-size: var(--h1);
    font-weight: 400;
    line-height: var(--h1-line-height);
    background-color: yellow;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
} */
h2{
    font-family: IBM Plex Mono;
    font-size: var(--h2);
    font-weight: 400;
    line-height: var(--h2-line-height);
    margin-bottom: 48px;
}
h3{
    font-family: IBM Plex Mono;
    font-size: var(--h3);
    font-weight: 400;
    line-height: var(--h3-line-height);
    color:  var(--brand-color-1);
}
h4{
    font-size: var(--h4);
    font-weight: 400;
    line-height: var(--h4-line-height);

}
blockquote{
    font-family: IBM Plex Mono;
    font-size: var(--blockquote);
    font-weight: 400;
    line-height: var(--blockquote-line-height);
    display: flex;
    gap: 6px;
    margin-top: 64px;
    margin-bottom: 64px;
}
p{
    font-size: var(--p);
    font-weight: 400;
    line-height: var(--p-line-height); 
    margin-bottom: 24px;
} 
b{
    color:  var(--brand-color-1);
    font-weight: 600;
}
em{
    color: var(--brand-color-2);
}

.right-allign{
    text-align:right;
    position:static;
    display: flex;
    align-items:end;
    justify-content: flex-end;
    width: 100%;
}

#rightBottom {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
}